* {
        margin:0; 
        padding:0;
}
body {
        border: 0;
        background-color: rgb(233, 169, 169);
}
canvas {
        width: 800;
        height: 600;
        display: block;
}
.text {
        position:absolute;
        font-size:2em;
        color: blue;
        user-select: none;
}
